.button{
    display: flex;
    justify-content: center;
    background-color: lightsalmon;
    font-size: 20px;
    margin: 2% 30% 1% 30%;
    border-radius: 7px;
    
}

.button:hover{
    background-color: lightgreen;
}