img{
    width: 16rem;
}

body h1{
    margin: 1% 0;
    font-size: 100px;
}

h3{
    color: black;
}

h5 {
    padding-top: 2%;
    text-transform: uppercase;
}

p{
    color: black;
    margin: 0 10%;
}

.listContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    

    
}

.card{
    margin: 0.5%;
    padding: 1%;
 


   
}

.data{
    text-decoration: dashed;
    margin: 5% 6% 2%;
}