img{
    width: 16rem;
}

body h1{
    margin: 1% 0;
    font-size: 100px;
}


h6 {
    text-transform: uppercase;
}


.loader {
    display: flex;
    justify-content: center;
    margin-top: 3%;   
}
